# OS
Thumbs.db
Desktop.ini

# Logs
*.log

docs/

# Node/Java build outputs
news-frontend/node_modules/
news-frontend/build/
news-services/target/

.env
.env.local
.env.development
.env.production
.env.test
.env.*.local

